@import "tailwindcss";

html, body{
  scroll-behavior: smooth;
  @apply bg-[#F2F2F2];
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradient 6s ease infinite;
}

::-webkit-scrollbar {
  height: 8px;   /* tinggi scrollbar horizontal */
  width: 8px;    /* lebar scrollbar vertical */
}

::-webkit-scrollbar-track {
  background: #e5e7eb; /* abu muda (track) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0371c8; /* biru sesuai Lawson */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #025ca3; /* biru lebih gelap saat hover */
}


